<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users with Mongoose</title>
  </head>
  <body>
    <h1>Mongoose Users</h1>
    <ul>
    {{#users}}
      <li>FirstName: {{firstName}} </li>
      <li>LastName: {{lastName}} </li>
      <li>Address:{{addresses[0].street}}<br>
      {{addresses[0].city}}</li>
      <form method='post' action='/delete/{{_id}}'>
        <button type='submit'>delete</button>
      </form>
      <form method='post' action='/update/{{_id}}'>
        <button type='submit'>update</button>
      </form>
      <hr>
    {{/users}}
    </ul>

    <form method="post" action='/createUser'>
      <p> Make New User </p>
      <label>first name</label>
      <input type="text" name="first_name" value=''>
      <label>last name</label>
      <input type="text" name="last_name" value=''>
      <label>street</label>
      <input type="text" name="street" value=''>
      <label>city</label>
      <input type="text" name="city" value=''>
      <button type="submit">create user</button>
  </body>
</html>
